<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/styles.css">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmYj7c-a_her9GlIewQTZDJBJWSiCJ0ao&loading=async&callback=initMap"
    async defer></script>
    <title>Menstruation Station</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <style>
        #map {
          height: 90%;
          width: 90%;
          margin-left: auto; 
          margin-right: auto;
        }
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>
</head>
<body>
    <header>
        <div><img src="/static/image/uterus.png" alt="A picture of our Icon"></div>
        <div class="nav">
            <div class="item"><a href="{{ url_for('index') }}"><p class="nav-text">Home</p></a></div>
            <div class="item"><a href="{{ url_for('flocator') }}"><p class="nav-text">Flocator</p></a></div>
            <div class="item"><a href="{{ url_for('update') }}"><p class="nav-text">Flocate Update</p></a></div>
        </div>
    </header>

    <div id="map"></div>
    <script>
      var UNC_Chapel_Hill;
      function initMap() {
        var remove_default_markers = [{
          featureType: "poi",
          elementType: "labels",
          stylers: [
            { visibility: "off" }
          ]
        }];
    
        UNC_Chapel_Hill = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.9097, lng: -79.0483},
          zoom: 17,
          styles: remove_default_markers
        });

        var buildings = JSON.parse('{{ buildings | tojson | safe }}');
        buildings.forEach(function(building) {
          var marker = new google.maps.Marker({
            position: {lat: building.lat, lng: building.long},
            map: UNC_Chapel_Hill,
            title: building.name,
          });
          
          var building_info = '<h3 class = "building-name">' + building.name + '</h3><ul>';
          building.bathrooms.forEach(function(bathroom) {
            building_info += '<h5 class = "bathroom-name">' + bathroom.name + ': <h5>';
            building_info += bathroom.pads & !bathroom.pad_running_low & !bathroom.pad_restock ? '<li>has pads</li>' : '';
            building_info += bathroom.tampons & !bathroom.tampon_running_low & !bathroom.tampon_restock ? '<li>has tampons</li>' : '';
            building_info += bathroom.pad_running_low ? '<li>Pads running low</li>' : '';
            building_info += bathroom.tampon_running_low ? '<li>Tampons running low</li>' : '';
            building_info += bathroom.pad_restock ? '<li>Pads need restock</li>' : '';
            building_info += bathroom.tampon_restock ? '<li>Tampons need restock</li>' : '';
            building_info += '<br>';
          });
          building_info += '</ul>';
    
          var infoWindow = new google.maps.InfoWindow({
            content: building_info
          });
    
          marker.addListener('click', function() {
            infoWindow.open(UNC_Chapel_Hill, marker);
          });
        });
      }
    </script>

  <br>
  <div class="footer">
    <div class="contact"><p>Contact Us</p></div>
    <div class="footer-text"><p>emailuser@domain.com | (123) 456-7890</p></div>
  </div>
</body>
</html>