<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/stylesheets/styles.css">
<title>Menstruation Station</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body class="background">
<header>
    <div><img src="/static/image/uterus.png" alt="A picture of our Icon"></div>
    <div class="nav">
        <div class="item"><a href="index.html"><p class="nav-text">Home</p></a></div>
        <div class="item"><a href="flocator.html"><p class="nav-text">Flocator</p></a></div>
        <div class="item"><a href="update.html"><p class="nav-text">Flocate Update</p></a></div>
    </div>
</header>
<div class="hero">
    <h3>this is</h3>
    <h1 class="menstruation">Menstruation</h1>
    <h1 class="menstruation">Station</h1>
</div>
<div class="home-content">
    <div class="description">
        <h2 class="content-heading">Our Mission</h2>
        <p>Our Menstruation Station Flocator aims to take off some of the <br> stress of finding menstrual products on our <br> large and busy campus! <br> Here are a few of the items we track for you (and hope to track in the future)!</p>
    </div>
    <div class="box one"><img src="/static/image/pad.png" alt="Image of a pad."></div>
    <div class="box two"><img src="/static/image/cup.png" alt="Image of a diva cup."></div>
    <div class="box three"><img src="/static/image/tampon.png" alt="Image of a tampon."></div>
    <div class="box four"><img src="/static/image/iud.png" alt="Image of an iud."></div>
    <div class="box five"><img src="/static/image/contraceptive-pills.png" alt="Image of a contraceptive pills."></div>
    <div class="box six"><img src="/static/image/implant.png" alt="Image of a contraceptive implant."></div>
</div>

<div class="footer">
    <div class="contact"><p>Contact Us</p></div>
    <div class="footer-text"><p>emailuser@domain.com | (123) 456-7890</p></div>
</div>

</body>
</html>