<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div><img src="/static/image/uterus.png" alt="A picture of our Icon"></div>
        <div class="nav">
            <div><a>HOME</a></div>
            <div><a>FLOCATOR</a></div>
            <div><a>FLOCATE UPDATE</a></div>
        </div>
    </header>
</body>
</html>