<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/styles.css">
    <title>Menstruation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div><img src="/static/image/uterus.png" alt="A picture of our Icon"></div>
        <div class="nav">
            <div class="item"><a href="{{ url_for('index') }}"><p class="nav-text">Home</p></a></div>
            <div class="item"><a href="{{ url_for('flocator') }}"><p class="nav-text">Flocator</p></a></div>
            <div class="item"><a href="{{ url_for('update') }}"><p class="nav-text">Flocate Update</p></a></div>
        </div>
    </header>
    
    <div class="form">
        <form id="updateForm">
            <p> Thank you for helping keep the Flocator updated!</p>
            <label> Select a Location: </label>
            <select>
                <optgroup label="Carolina Union">
                    <option value="Women's Restroom on Third Floor ">Women's Restroom on Third Floor </option>
                    <option value="Women's Restroom near Alpine">Women's Restroom near Alpine</option>
                    <option value="Women's Restroom on Bottom Floor">Women's Restroom on Bottom Floor</option>
                    <option value="Women's Restroom near Union Auditorium">Women's Restroom near Union Auditorium</option>
                  </optgroup>
                  <optgroup label="Campus Y">
                    <option value="Gender Neutral Restrooms near Meantime">Gender Neutral Restrooms near Meantime</option>
                    <option value="Gender Neutral Restrooms on Second Floor">Gender Neutral Restrooms on Second Floor</option>
                  </optgroup>
            </select>
            <ul>
                <li> Is this location completely out of stock of hygiene products? </li>
                <li><input type = "checkbox" name = "Restock" value = "Restock" /> Yes, a restock is needed</li>
             </ul>
            <ul>
                <li> Select which menstrual hygiene products you were able to find: </li>
                <li><input type = "checkbox" name = "Tampons" value = "Tampons" /> Tampons</li>
                <li><input type = "checkbox" name = "Pads" value = "Pads" /> Pads</li>
             </ul>
             <ul>
                <li> Is this location running low on hygiene products? </li>
                <li><input type = "checkbox" name = "tampon_running_low" value = "tampon_running_low" /> Running low on tampons </li>
                <li><input type = "checkbox" name = "pad_running_low" value = "pad_running_low" /> Running low on pads </li>
             </ul>
             <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>